@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&display=swap');

*{
  --bg-color: #151719;
  --accent-color: #EF5840;
  --accent-color-transparent: #EF584050;
  --light-text: #D9E3EA;
  --paragraph: #d0d3d6;
  --std-border-radius: 20px;
  font-family: 'Inter', sans-serif;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: var(--bg-color);
}

#root {
  position: relative;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgba(238, 238, 238, 0.1254901961);
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: rgba(238, 238, 238, 0.1254901961);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:focus {
  outline: none;
}

button {
  cursor: pointer;
  display: flex;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--accent-color);
  font-family: Inter;
  color: var(--light-text);
  font-size: .8rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2rem;
  border: 1px solid var(--accent-color);
  border-radius: .3rem;
  transition: .3s ease-in-out;
}

button.secondary{
  padding: 10px 15px;
  font-size: .7rem;
  letter-spacing: .13rem;
}

button:not(.disabled)::after{
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  content: "\f061";
  margin-left: 20px;
}

button:not(.disabled):hover {
  background-color:var(--accent-color-transparent);
}



.accent-text {
  color: var(--accent-color);
}

h1 {
  margin: 0;
  color: var(--light-text);
  text-align: center;
  font-family: Inter;
  font-size: 3.1rem;
  font-weight: 700;
  line-height: 3.6rem;
  letter-spacing: -0.5px;
}

h2 {
  color: var(--light-text);
  text-align: center;
  font-family: Inter;
  font-size:2.2rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3.1rem; /* 125% */
  letter-spacing: -0.5px;
}

h3 {
  color: var(--light-text);
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1rem; /* 141.667% */
  letter-spacing: -0.25px;
}

p, ul{
  color: var(--paragraph);
  text-align: center;
  font-family: Inter;
  font-weight: 200;
  letter-spacing: 0.25px;
}

p{
  font-size: 1.1rem;
  line-height: 1.6rem; /* 150% */
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1.87rem; /* 150% */

}

li {
  margin-bottom: 1rem;
}

input, select, textarea, option {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: .5rem;
  margin:10px 0 15px 0;
  background-color: #ffffff10;
  color: var(--light-text);
}

.error {
  border: 2px solid rgb(228, 44, 44);;
}

textarea {
  resize: vertical;
}
.error-message {
  color: rgb(228, 44, 44);
  font-size: .7rem;
}

label {
  color: var(--light-text);
}

section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* scroll-snap-align: start; */
}

section.half-height {
  height: 50vh;
}

/* NAV start */
.burger-menu {
  z-index: 99999;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  color: var(--light-text);
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9998;
  padding: 100px 50px;
  width: 25%;
  height: 100vh;
  background-color: #15171980;
  backdrop-filter: blur(15px);
  box-shadow: 0 0 30px #eeeeee05 ;
  transition: .4s ease-in-out transform;
}
.nav.hidden{
  transform: translateX(30vw);
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  font-weight: 400;
}
.nav ul a {
  text-decoration: none;
  color: var(--light-text);
  transform-origin: 0 50%;
  transition: .4s ease-in-out letter-spacing;
}

.nav ul a:hover{
  letter-spacing: .05rem;
}

.nav ul li {
  margin-bottom: 30px;
}

/* NAV end */

/* COPYRIGHT start */
.copyright {
  position: fixed;
  bottom: 15px;
  right: 15px;
  font-size: .9rem;
  color: var(--light-text);
  width: auto;
  letter-spacing: .15rem;
  font-weight:300;
}


/* COPYRIGHT end */

/* HEADER start */
header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* scroll-snap-align: start; */
}

.scroll-animation {
  position:absolute;
  bottom: 30px;
  left: 49%;
  color: var(--accent-color);
  animation: infinite scroll-animation 1.5s linear;
}

@keyframes scroll-animation {
  0%{
    transform: translateY(-20px);
    opacity: 0;
  }
  50%{
    transform: translateY(0);
    opacity: 1;
  }
  100%{
    transform: translateY(20px);
    opacity: 0;
  }
  
}
.cursor {
  font-weight:200;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top:30px;
}
.social-icons img {
  height: 30px;
  opacity: .6;;
  width: auto;
  margin: 0 10px;

}
/* HEADER end */

/* FULLSTACKFUSION start */

.text-content {
  margin-bottom: 50px;
}
.text-content h2 {
  margin-top: 0;
}

.competencies{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;
}

.competency {
  margin: 30px 30px;
  margin-bottom: 0;
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.competency h3 {
  margin-bottom: 0;
}

.competency-icon{
  margin: 20px 0;
}

/* FULLSTACKFUSION end */

/* TOOLACCESS start */
.two-column-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.two-column-container.reverse {
  flex-flow: row-reverse wrap ;
}

.column {
  width: 40%;
  margin: 0 20px;
}

.column.image-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.column.text h2, .column.text ul{
  text-align: left;
  margin-bottom: 60px;
}

.column.text li::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  color: var(--accent-color);
  margin-right: 20px;
}
#logo {
  width: 30%;
  margin-bottom: 20px;
}
/* TOOLACCESS end */

/* TECH STACK start */

#tech-stack p {
  width: 30%;
}

#tech-stack .logo-carousel{
  position: relative;
  margin: 15px 0 30px 0;
  overflow-x: hidden;
  width: calc(120px * 6);
}

.logo-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
  animation: infinite-carousel infinite 15s linear;
}

@keyframes infinite-carousel {
  0%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(120px * -14));
  }
}
.gradient {
  z-index:9999;
  position: absolute;
  height: 100%;
  width: 150px;
}

.gradient.start {
  top: 0;
  left: 0;
  background: linear-gradient(90deg,var(--bg-color) 0%, #15171900 100%);
}

.gradient.end {
  right: 0;
  top: 0;
  background: linear-gradient(270deg,var(--bg-color) 0%, #15171900 100%);
}

#tech-stack img {
  width: 90px;
  height: 90px;
  margin: 0 15px;
}

/* TECH STACK end */

/* RESUME start */

ul.jobs {
  width: 100%;
}

ul.jobs li {
  display: grid;
  grid-template-columns: [column1-start]1fr [column2-start]3fr [column3-start]3fr;
  grid-template-rows: [only]1fr;
  column-gap: 20px;
  padding: 10px;
  background-color: #ffffff05;
  border-radius: var(--std-border-radius);
  transition: .4s ease-in-out transform;
}
ul.jobs li.job{
  transform-origin: 100% 50%;

}
ul.jobs li.education{
  transform-origin: 0% 50%;
}
ul.jobs li:hover {
  transform: scale(1.02);
}

ul.jobs p {
  margin: 0;
  font-size: .9rem;
  text-align: left;

}

.company-logo{
  grid-column-start: column1-start;
  align-self: center;
  justify-self: start;
  height: 60px;
}
.company-logo img {
  width: 60px;
  height: 60px;
}

li .job-description{
  align-self: end;
}


li .job-description p.position{
  font-size: .9rem;
  font-style: italic;
}

li .job-description p.company-name {
  font-size: 1rem;
  font-weight: 700;
}

li .location-time {
  align-self: end;
}
li .location-time p{
  text-align: right;
  margin-right: 10px;
}

/* RESUME end */

/* CONTACT start */

#contact h2 {margin-bottom: 0;}
.contact-options-container {
  width: 100%;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-option {
  position: relative;
  width: 18%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #eeeeee50;
  padding:  30px;
  border-radius: calc(var(--std-border-radius) + 8px);
}

.contact-option h3 {
  color:var(--bg-color);
  margin: 0;
  font-size:2.1rem;
  text-align: left;
  line-height: 2.6rem;
}
.contact-option.fav{
  background-color: #eeeeee;
  scale: 1.04;
  padding-top: 50px;
}
.tag {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--light-text);
  background-color: var(--accent-color);
  padding: 10px 20px;
  border-radius: var(--std-border-radius);
  font-size: .7rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
}

.contact-option ul {
  list-style: none;
  text-align: left;
}

.contact-option ul li{
  color:var(--bg-color);
  font-size: 1rem;
  margin: 0;
  line-height: 2.5rem;
}

.contact-option button {
  font-size: .7rem;
}
.contact-option button:hover {
  background-color: transparent;
  color: var(--accent-color);
}

.contact-option ul li::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f058";
  color: var(--accent-color);
  margin-right: 20px;
}
.contact-option ul li.disabled::before{
  content: "\f057";
  color: var(--bg-color);
}

.contact-modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #00000090;
  z-index: 999999;
}
.contact-modal .form-container {
  width: 30%;
  background-color: #00000080;
  backdrop-filter: blur(20px);
  border-radius: 20px;
  padding: 30px;
}

.contact-modal .form-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.close-icon {
  color: #eeeeee;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

/* CONTACT end */

/* REFERENCES start */
.references {
  display:flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
}

.single-reference {
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
  width: 30%;
  background-color: #ffffff05;
  padding: 20px;
  border-radius: 50px calc(var(--std-border-radius) - 10px) ;
}

.profile-img {
  position: relative;
  width: 60px;
}
.quotation-mark {
  position: absolute;
  top: -5px;
  right: -10px;
}
.client-image {
  height:60px;
  width: 60px;
  border-radius: 30px;
}

.review-content p:nth-child(1) {
  text-align: left;
}

.reviewer {
  font-weight: 500;
  border-top: 1px solid var(--accent-color);
  padding-top: 20px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 0;
}

.reviewer .accent-text{
  text-transform: none;
}
/* REFERENCES end */

/* PORTFOLIO start */
.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  padding: 50px 0;
}
.project-tags {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center         ;
}
.project-details h3, .project-details p {
  text-align: left;
}
.project-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 150px;
}
.portfolio-image {
  width: 90%;
  border-radius: calc(var(--std-border-radius) - 10px);
}
.tag.relative {
  position: relative;
  top:0;right:0;
  padding: 5px 10px;
  font-size: .7rem;
  font-weight: 500;
  letter-spacing: .1rem;
}


/* PORTFOLIO end */